<!--layout testing styles to be removed later-->

<!--
<style>
  body
  {
    margin: 30px;
  }

  .my-container
  {
    border: 1px solid green;
  }

  .my-row
  {
    border: 3px solid red;
  }

  .my-col
  {
    border: 3px dotted blue;
  }
</style>
-->

 <!-- city select -->
<div class ="container my-container">
  <div class="row justify-content-center">
      <h1>Weather Forecast App</h1>
  </div>
  <div class="row justify-content-center">
      <a href="https://www.darksky.net">Powered by the Darksky API</a> 
  </div>
  <div class="row justify-content-center">
      <select id="city-select" style="margin:5px;"></select>
      <button (click)="getWeatherForecast()" style="margin:5px;" type="button">Get Weather Forecast</button>
  </div>
</div>

<hr/>

  <!-- Local Forecast -->
<div class="container my-container">
  <div class="row my-row">
    <div class="col-1 my-col">
      <h3>{{ forecast.temperature }}<span>°C</span></h3>
    </div>
    <div class="col-9 my-col">
      <h4>{{ forecast.summary }}</h4>
      <p>{{ forecast.location }}</p>
    </div>
    <div class="col-2 my-col">
      <h2>{{ forecast.date }} {{ monthNames[forecast.month] }} {{ forecast.year }}</h2>
    </div>
  </div>
  <hr/>
  <div class="row my-row">
    <div class="col my-col text-center">
        <div>{{ monthNames[forecast.day1_month] }} {{ forecast.day1_date }}</div>
        <i [class]="getWeatherIcon(forecast.day1_icon)"></i>
        <div>High: {{ forecast.day1_temperatureHigh }}<span>°C</span></div>
        <div>Low: {{ forecast.day1_temperatureLow }}<span>°C</span></div>
    </div>
    <div class="col my-col text-center">
        <div>{{ monthNames[forecast.day2_month] }} {{ forecast.day2_date }}</div>
        <i [class]="getWeatherIcon(forecast.day2_icon)"></i>
        <div>High: {{ forecast.day2_temperatureHigh }}<span>°C</span></div>
        <div>Low: {{ forecast.day2_temperatureLow }}<span>°C</span></div>
    </div> 
    <div class="col my-col text-center">
        <div>{{ monthNames[forecast.day3_month] }} {{ forecast.day3_date }}</div>
        <i [class]="getWeatherIcon(forecast.day3_icon)"></i>
        <div>High: {{ forecast.day3_temperatureHigh }}<span>°C</span></div>
        <div>Low: {{ forecast.day3_temperatureLow }}<span>°C</span></div>
    </div> 
    <div class="col my-col text-center">
        <div>{{ monthNames[forecast.day4_month] }} {{ forecast.day4_date }}</div>
        <i [class]="getWeatherIcon(forecast.day4_icon)"></i>
        <div>High: {{ forecast.day4_temperatureHigh }}<span>°C</span></div>
        <div>Low: {{ forecast.day4_temperatureLow }}<span>°C</span></div>
    </div> 
    <div class="col my-col text-center">
        <div>{{ monthNames[forecast.day5_month] }} {{ forecast.day5_date }}</div>
        <i [class]="getWeatherIcon(forecast.day5_icon)"></i>
        <div>High: {{ forecast.day5_temperatureHigh }}<span>°C</span></div>
        <div>Low: {{ forecast.day5_temperatureLow }}<span>°C</span></div>
    </div> 
  </div>
  <hr/>
</div>
