<div>Location: {{ forecast.location }}</div>
<div>Date: {{ forecast.date }}</div>
<div>Month: {{ monthNames[forecast.month] }}</div>
<div>Year: {{ forecast.year }}</div>
<div>Summary: {{ forecast.summary }}</div>
<div>Icon: {{ forecast.icon }}</div>
<div>precipProbability: {{ forecast.precipProbability }}</div>
<div>Temperature: {{forecast.temperature }}</div>
<div>temperatureHigh: {{ forecast.temperatureHigh }}</div>
<div>temperatureLow: {{ forecast.temperatureLow }}</div>
<div>Humidity: {{ forecast.humidity }}</div>
<hr/>
<div>Date: {{ monthNames[forecast.day1_month] }} {{ forecast.day1_date }}</div>
<div>Icon: {{ forecast.day1_icon }}</div>
<div>High: {{ forecast.day1_temperatureHigh }}</div>
<div>Low: {{ forecast.day1_temperatureLow }}</div>
<hr/>
<div>Date: {{ monthNames[forecast.day2_month] }} {{ forecast.day2_date }}</div>
<div>Icon: {{ forecast.day2_icon }}</div>
<div>High: {{ forecast.day2_temperatureHigh }}</div>
<div>Low: {{ forecast.day2_temperatureLow }}</div>
<hr/>
<div>Date: {{ monthNames[forecast.day3_month] }} {{ forecast.day3_date }}</div>
<div>Icon: {{ forecast.day3_icon }}</div>
<div>High: {{ forecast.day3_temperatureHigh }}</div>
<div>Low: {{ forecast.day3_temperatureLow }}</div>
<hr/>
<div>Date: {{ monthNames[forecast.day4_month] }} {{ forecast.day4_date }}</div>
<div>Icon: {{ forecast.day4_icon }}</div>
<div>High: {{ forecast.day4_temperatureHigh }}</div>
<div>Low: {{ forecast.day4_temperatureLow }}</div>
<hr/>
<div>Date: {{ monthNames[forecast.day5_month] }} {{ forecast.day5_date }}</div>
<div>Icon: {{ forecast.day5_icon }}</div>
<div>High: {{ forecast.day5_temperatureHigh }}</div>
<div>Low: {{ forecast.day5_temperatureLow }}</div>